
<div class="cp_iptxt">
  <%= form_with(model: @theme, local: true) do |f| %>
    <%= f.text_field :title, class:"title", placeholder:"Pleaes insert the new task you would like to study :)" %>
    <%= f.submit "ADD", class:"btnn btn btn-secondary title-sent" %>
  <% end %>
</div>