<% if user_signed_in? %>
	<h1>Hello! <%= current_user.name %> <br>Welcome to CLOCK! Let's start today's learning!</h1>
<% else %>
	<h1>Welcome to CLOCK!</h1>
<% end %>

<!-- Date -->

<div class="fw-bold top-page-date "><%= @date.to_formatted_s(:long)%></div>

<!-- Digitial Clock -->
<div id="clock" class="light">
			<div class="display">
				<div class="weekdays"></div>
				<div class="ampm"></div>
				<div class="alarm"></div>
				<div class="digits"></div>
			</div>
		</div>

		<div class="button-holder">
		</div>

<!-- JavaScript Includes -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>


<div class="body2">
<%= link_to "START LEARNING!", themes_path, class: "btn effect01" %> </button>
</div>