// Place all the styles related to the themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  text-align: center;
  margin-bottom: 100px;
}

.task-wrapper {
  margin: 200px 10%;
}

.task {
  margin-right: 5px;
}

.botton-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;;
}

table {
  margin-top: 100px;
}

.title {
  margin-top: 200px;
}